<html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        @RenderSection("Styles",false)
        <title>Document</title>
    </head>
    <body>
        <header>
            
            @await Html.PartialAsync("_Navbar")
            @RenderSection("Header",false)
        </header>
            
        <div class="container mt-3">
            <main>
                <div class="row">
                    <div class="col-2">
                        <div>@await Html.PartialAsync("_NobetciOgretmen")</div>
                        <div>@await Html.PartialAsync("_NobetciOgrenci")</div>
                        <div>@await Html.PartialAsync("_YemekListesi")</div>
                        

                    </div>
                    <div class="col-8">@RenderBody()</div>
                    <div class="col-2">Sağ taraf</div>
                </div>
                
            </main>
        </div>
        @RenderSection("Scripts",false)
    </body>
</html>
