<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <table class="table table-borderless mb-0 align-middle text-center" style="width: 100%; border: 0px;">
            <tr>
                <td><img src="~/img/logooo.png" width="150px" alt=""></td>
                <td><a class="navbar-brand" asp-controller="Home" asp-action="Index" >TACETTİN ASLAN MESLEKİ TEKNİK ANADOLU LİSESİ</a></td>
                <td><img src="~/img/logooo.png" width="150px" alt=""></td>
            </tr>
        </table>
    </div>
</nav>